body {
    background-color: #f2f1ef;
}
.hero-body {
    background-color: #076293;
}

.hero .title, .hero .subtitle {
    color: white;
}

/*Different backgrounds for the different sections*/
section#languages {
}
section#me {
}
section#web{
    background-color: #8b8d80;
}
section#nonWeb {
    background-color: #582035;
}

.footer {
    background-color: #076293 !important;
}
footer .content a{
    padding : 5px;
    color: white;
}

.copyright {
    position: absolute;
    boottom: 2em;
    margin: auto;
    left: 0;
    right: 0;
}

ul {
    list-style-position: inside;
    list-style-type: square;
}

/*Stuff for progress bars*/
progress {
    margin: 5px 0px !important;
    width: 75% !important;
}
/*needed to customize color of python stuff*/
#pythonProgress::-webkit-progress-value{
    background: #f4a742 !important;
}
#scalaProgress::-webkit-progress-value{
    background: #a9d307 !important;
}
#javaScriptProgress::-webkit-progress-value{
    background: #a9d307 !important;
}
progress[value]::after {
    content: attr(value)'%';
}
/**********/
hr {
    background-color: black;
    height: 1.5px;
}

.card-footer-item:nth-child(2) i{
    padding: 0 3px 0 3px;
    cursor: help;
}

.projectTitle{
    font-weight: bold;
}

/*Stuff for web projects*/
#web header, #web footer {
    background-color: #D4D3D1;
}
#web .card-content {
    background-color: #f2f1ef;
}
/*Stuff for non web projects*/
#nonWeb header {
    background-color: #D4D3D1;
}
#nonWeb .card-content {
    background-color: #f2f1ef;
}

/*All stuff relating to the image modals*/
.hoverable {
    cursor: pointer;
}
#modal {
    display: none;
}
#modal.active {
    display: inline-block;
    z-index: 999;
    position: fixed;
    position: fixed;
    width: 70%;
    height: 45%;
    top: 15%;
    left: 50%;
    margin-left: -35%;
}
#modal-background.active {
    z-index: 50;
    position: absolute;
    display: inline-block;
    width: 9000px;
    height: 9000px;
    margin-left: -4000px;
    margin-top: -4000px;
    background-color: grey;
    opacity: 0.5;
}
@media only screen and (max-width: 1087px){
    #modal.active {
        display: none;
    }
    #modal-background.active{
        display: none;
    }
    .hoverable{
        cursor: auto;
    }
    progress {
        width: 75% !important;
    }
}
